* {
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
}

:root {





  --primary-color: #ff00c7;
  /*--border-color: #887888;*/
  --border-color: #524552;
  --border2-color: #29202a;
  --light-color: #fff8ff;
  --medium-color: #ff66ff;
  --dark-color: #120211;
  --bg-color: #120211;
  --light-link-color: #00ffef;

  /*--input-color: #292929;*/
  --input-color: #25051e;
  /*--help-color: #df0;*/
  --help-color: #00ff98;
  --secondary-color: #7202c6;
  --tertiary-color: #b40066;
  --code-color: rgba(17, 5, 17, 0.7);


  --green-color: #19c72c;
  --dark-green-color: #339966;
  --light-green-color: #66cc99;
  --blue-color: #003366;
  --red-color: #ff3333;
  --purple-color: #49155b;
  --gray-color: #3f304a;
  /*#470061;*/


  /*hsl(284 26% 26%)*/

  /*--secondary-color: #00ff98;*/

  --default-font: Trebuchet MS, sans-serif;
  --fancy-font: cursive;
  --code-font: monospace;


/*  --bg-color: #fff8ff;
  --light-color: #120211;*/
}

html {
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--light-color);
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error {
  color: var(--primary-color);
  text-align: center;
  margin: 0.25em 0;
}


header {
  text-align: center;
  padding: 0.25em;
  margin-bottom: 1em;
}

/*main, footer {
  margin: auto;
  padding: 0 1em;
}*/

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0.5em 0;
  font-size: 2em;
}

.address {
  font-family: monospace;
}

button {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--light-color);
  border: 0px solid;
  border-radius: 3px;
  transition: 150ms;
  padding: 0.25em 1em;
}

button:hover {
  background: #fff;
  color: #000;
}

button:disabled {
  opacity: 0.55;
  user-select: none;
  cursor: no-drop;
  box-shadow: 0 0 0;
}
button:disabled:hover {
  background: var(--primary-color);
  color: #fff;
}

code {
  font-family: var(--code-font);
}


.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.imgContainer img {
  box-shadow: 1px 1px 8px black;
  max-height: 75vh;
  max-width: 100%;
  width: inherit;
  height: inherit;
}

@media (max-width: 635px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }
}

.blink {
  animation: Blink 1.5s steps(2, start) infinite;
}

@keyframes Blink {
  to {
    visibility: hidden;
  }
}


.preOrgasm {
  animation: PreOrgasm 3s ease-in-out infinite;
}


.orgasm {
  animation-iteration-count: 1;
  animation: Orgasm 48s ease-out;
}

.burn {
  animation-iteration-count: 1;
  animation: Burn 24s ease-out;
}

::selection {
  background: var(--light-color);
  color: var(--dark-color);
  text-shadow: none;
}

button, img {
  user-select: none;
}

#connectButton {
  transition: 300ms;
  cursor: pointer;
  padding: 0.5em 1em;
  border: 0;
  color: var(--light-color);
  border-radius: 3px;
  background: var(--primary-color);
  animation: Glissen 3s ease-in-out infinite;
}

#connectButton:hover {
  background: var(--light-color);
  color: var(--primary-color);
  animation: none;
  box-shadow: 0 0 3em var(--primary-color);
}





@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes PreOrgasm {
  0%, 100% {
    filter: blur(0.5px) saturate(1.5);
  }

  50% {
    filter: blur(2.5px) saturate(1.5);
  }
}



@keyframes Orgasm {
  0%, 100% {
    filter: brightness(1) blur(0) saturate(1);
  }

  1.25% {
    filter: brightness(50) blur(10px) saturate(5);
  }

  27% {
    filter: brightness(1.5) blur(0.5px) saturate(2);
  }

  75% {
    filter: brightness(1) blur(0) saturate(0.9);
  }
}


@keyframes Burn {
  0%, 100% {
    filter: brightness(1) blur(0) saturate(1) hue-rotate(0);
  }

  2.5% {
    filter: brightness(0) blur(10px) saturate(5) hue-rotate(45deg);
  }

  55% {
    filter: brightness(0.5) blur(0.5px) saturate(2) hue-rotate(40deg);
  }
}

@keyframes Glissen {
  0%, 100% {
    background: var(--primary-color);
    box-shadow: 0 0 3em var(--primary-color);
  }

  50% {
    background: var(--secondary-color);
    box-shadow: 0 0 3em var(--secondary-color);
  }
}

chat-window:not(:defined),
sexy-header:not(:defined),
sexy-profile:not(:defined),
connect-wallet:not(:defined) {
  opacity: 0;
  transition: opacity 0.3s;
}